<div class="col col-lg-6">
  <label class="form-label">Nome</label>
  <input
    id="nome"
    [(ngModel)]="nome"
    type="text"
    class="form-control"
    placeholder="Seu nome aqui!">
</div>

<div class="col col-lg-6">
  <label class="form-label">Email</label>
  <input
    id="email"
    [(ngModel)]="email"
    type="email"
    class="form-control"
    placeholder="nome@exemplo.com">
</div>

<div class="col col-lg-6">
  <label class="form-label">Senha</label>
  <input
    id="senha"
    [(ngModel)]="senha"
    type="password"
    class="form-control">
</div>

<button
  type="button"
  (click)="salvar()"
  class="btn btn-primary"
  style="margin-top: 15px; margin-left: 15px;">Salvar</button>

